@import "tailwindcss";

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/fonts/Brandon_reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("./assets/fonts/Brandon_med.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-brandon: "Brandon Grotesque", sans-serif;
  --font-sans: "Brandon Grotesque", sans-serif;
}

body {
  font-family: "Brandon Grotesque", sans-serif;
}